@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Shadows+Into+Light&display=swap');
 
body {
	background-image:url("images/montagne.jpg");
	color: rgb(50,50,50);
	front-family: Helvetica;
	front-size: 17px;
	text-align: center;
}
.perfectcircle{
	border-radius: 50%;
	border : 0.5px solid black;
}

h1{
	font-family: 'Merienda', cursive;
	Color: darkblue;
	front-size: 40px;
}
h2{
	Color : darkblue;
	front-size: 24px;
}
a.lien {
	padding:  8px 8px;
	margin:  16px auto;
	border-radius:  6px;
	border:  solid;
	border-color: rgb(44, 40, 145);
	color: white;
	background-color: rgb(44, 40, 145);
	text-decoration: none;
	font-size: 17px;
	font-family: 'Merienda', cursive;
}
a.lien:hover {
	background-color: rgb(215, 233, 247);
	border-color: rgb(215, 233, 247);
	color: white;
	text-decoration: none;
}
.div-container	{
	margin: 24px auto;
	background: white;                        
	padding: 30px;                                                 
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	border-radius: 15px;   
}
.div-rounded {
	margin: 24px auto;
	background: white;                        
	padding: 30px;                             
	border-radius: 75px;                        
	box-shadow: 1px 10px 10px rgba(0,0,0,.5);
}

i {
	font-size:  32px;
}

.fa-instagram:hover {
	color : rgb(247, 219, 240);
}
.fa-linkedin:hover {
	color: rgb(247, 219, 240);
}

.voiture {
	box-shadow: 1px 10px 10px rgba(0,0,0,.5)
}
p {
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
}
.div-feuille {
	margin: 24px auto;
	background: white;                        
	padding: 30px;                                                 
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	border-radius: 15px; 
	background-image: url(images/feuille.jpg);
	color: white;
	box-shadow: 1px 10px 10px rgba(0,0,0,.5);
	text-align: left;
}
.div-centre {
	background-color:transparent ;
	padding-left: 627px;
	font-family: 'Merienda', cursive;
	font-size : 17px;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
